.section-noticias{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
    /* background-color: #363131; */
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(7, 7, 7, 0.144);
    border-radius: 20px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    font-family: 'Lexend';
    background-color: aliceblue;
}

.noticia{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr;
    background-color: rgb(158, 197, 231);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.titulo{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    background-color: rgb(175, 211, 241);
}

.descripcion{
    text-align: justify;
    margin: 5px;
}

.section-noticias img{
    width: 100%;
    filter: drop-shadow(10px 10px 10px #006891d5);
}